To: {{.Email}}
Subject: Hello {{.Name}}, Welcome to Our Service!

Hi {{.Name}},

We are excited to have you on board. Thank you for joining our service. We hope you have a great experience!

Best regards,
The Team